#overlay {
	background-image: url(http://ri-itest.concord.org/images/gifs/logo-with-molecule.gif);
}

#copyright {
	background-image: url(http://ri-itest.concord.org/images/gifs/cc_logo_gray_text.gif);
}

.news-box {
	background-image: url(http://ri-itest.concord.org/images/gifs/brown-gradient.gif);
}
